<div layout="row" ng-init="$ctrl.init()">

    <div ui-view="toolbar"></div>

    <md-content>
        <ui-view></ui-view>
        <div ui-view="floating-panel"></div>
    </md-content>

    <md-sidenav md-is-open="false"
        md-is-locked-open="false"
        class="md-sidenav-right md-whiteframe-4dp"
        md-component-id="sidenavRight">

        <md-content layout="column" layout-padding>
            <div ui-view="panel-content"></div>
            <div ui-view="panel-buttons"></div>

        </md-content>
    </md-sidenav>

    <div ui-view="bottom-panel"></div>


</div>

<app-instance-canvas
    ng-if="stateData.viewname != 'instance'"
    position="fullscreen"
    current-instance-id="$ctrl.currentInstanceId">
</app-instance-canvas>
