<md-bottom-sheet class="md-grid" layout="column" md-whiteframe="5" ng-cloak>
    <div layout="row" layout-align="center center" class="app-titles pull-right">
        {{ currentInstanceId }} -- {{ currentInstance }}
        <div class="app-title-text">{{ $ctrl.currentInstance.game.title }}</div>
        <div class="app-subtitle-text">{{ $ctrl.currentInstance.game.subtitle }}</div>
        <!-- <ng-include src="views/seed-panel.html" /> -->
    </div>
    <div layout="row">
        <div ng-repeat="action in ctrl.actions">
            <md-button class="md-raised {{ action.classes }}" ng-click="listItemClick($index)">
                <md-icon md-svg-src="{{ action.icon }}"></md-icon>
                <span class="md-grid-text">{{ action.label }}</span>
            </md-button>
        </div>
        <!-- <md-list flex layout="row" layout-align="center center">
            <md-list-item ng-repeat="action in ctrl.actions">
                <div>

                </div>
            </md-list-item>
        </md-list> -->
    </div>
</md-bottom-sheet>
