<!-- <div layout="row" layout-align="start center" layout-wrap> -->

    <div class="toolbar-title" ui-sref="app.home" flex="nogrow">**Apps at an Exhibition</div>

    <div flex="grow" />

    <md-button class="md-button pull-right" flex="nogrow"
        ng-cloak ui-sref="app.login"
        ng-if="!userLoggedIn">Log in</md-button>

    <md-button class="md-button pull-right" flex="nogrow"
        ng-cloak ng-click="ctrl.logout()"
        ng-if="userLoggedIn">Log out</md-button>

<!-- </div> -->
