<md-dialog aria-label="View Source" ng-init="ctrl.initialize()">

    <md-toolbar class="dialog-toolbar" md-whiteframe="2" layout-wrap>
      <div class="md-toolbar-tools">
        <h2 class="md-primary" flex="grow">Source Code</h2>
        <span flex="grow"></span>
        <md-button class="md-raised md-accent button-small"
            flex="none" role="button" ng-click="ctrl.closeDialog()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <md-content>
        <div ui-codemirror="{onLoad:ctrl.codemirrorLoaded}"
            ui-codemirror-opts="ctrl.cmOptions" class="inDialog"
            ng-model="ctrl.app.source"
            name="source">
        </div>
      </md-content>

    </md-dialog-content>

</md-dialog>
