
.panel-bottom {
    position: fixed;
    bottom: 0px;
    padding: 0px 30px 80px 30px;
    //border-top: 2px solid #999;
    width: 100%;
    height: auto;
}

md-bottom-sheet {
    background-color: rgba(250,250,250,0.7) !important;
}

button {
    md-icon {
        margin-top: -3px;
    }
}

.md-scroll-mask {
    z-index: 1;
}

.main-content {
    z-index: 2;
}

.button-huge {
    //transform: scale(2);
    transform-origin: top left;
    display: inline-block;
    margin: 0px;
    //color: white !important;
    //mix-blend-mode: overlay;
    //border: 1px solid #ccc;
    //background-color: rgba(245,245,245,0.4);
}

.app-titles {
    text-align: right;

    letter-spacing: 0.2em;
    //padding-right: 12px;
    //margin-top: 10px;
    .app-title-header {
      &:after {
        content: ":";
        position: absolute;
      }
    }
    .app-title-text {
      font-size: 2em;
      line-height: 2.1em;
      opacity: 0.8;
      //letter-spacing: 0.35em;
      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
        position: absolute;
      }
    }
    .app-subtitle-text {
        font-size: 1.6em;
        color: rgba(100, 100, 100, 0.6);
        &:after {
          //content: close-quote;
          position: absolute;
        }
    }
}
