$clear-white: rgba(250,250,250,0.7);
// $clear-grey: rgba(200,200,200,0.7);

.panel-bottom {
    position: fixed;
    bottom: 0px;
    padding: 0px 30px 80px 30px;
    //border-top: 2px solid #999;
    width: 100%;
    height: auto;
}

md-bottom-sheet {
    background-color: $clear-white !important;
    //padding-bottom: 0px;
}

button, a {
    md-icon {
        margin-top: -3px;
    }
}

md-dialog md-dialog-content {
    padding: 0px;
    margin: 0px;
}

md-divider {
    marign-top: 1.6em;
    margin-bottom: 1.6em;
}

.md-button, button, md-button {
    //font-weight: 300;
}

.md-scroll-mask {
    z-index: 1;
}

.main-content {
    z-index: 2;
}

.button-huge {
    transform-origin: top left;
    display: inline-block;
    margin: 0px;
}

.button-small {
    font-size: 10px;
    font-weight: 300;
    md-icon {
        transform: scale(0.75);
        transform-origin: center;;
        opacity: 0.7;
    }
}

.dialog-toolbar {
    position: static !important;
}

.CodeMirror {
  height: auto;
}
.codemirror-gutters, .CodeMirror-gutter {
    width: 13px;
}
.inDialog pre {
    margin-left: 25px;
}

.app-titles {
    text-align: right;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    margin-top: 10px;
    //padding-right: 12px;
    //margin-top: 10px;
    .app-title-header {
      &:after {
        content: ":";
        position: absolute;
      }
    }
    .app-title-text {
      font-size: 1.6em;
      line-height: 2.1em;
      color: rgba(30,30,30, 0.7);

      //letter-spacing: 0.35em;
      &:before {
        content: open-quote;
      }
      &:after {
        content: close-quote;
        position: absolute;
      }
    }
    .app-subtitle-text {
        font-size: 1.2em;
        color: rgba(100, 100, 100, 0.6);
        &:after {
          //content: close-quote;
          position: absolute;
        }
    }
}


.floating-panel {
    background-color: $clear-white; //rgba(250,250,250,0.85) !important;
    // position: absolute;
    display: block;
    width: inherit;
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-top: 80px !important;
    width: calc(100% - 80px);
    // top: 50px;
    padding: 1.5em;
    font-size: 1.1em !important;
    line-height: 1.62em !important;

    p {
        &:after {
            height: 0.62em;
            content: "";
            display: block;
        }
    }
}


.thumbnail {
    display: inline;
    box-sizing: border-box;
    padding: 2px;
    margin: 2px 2px 2px 2px !important;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    transition: border .2s ease-in-out;
}

.nomargin {
    margin: 0px 0px 0px 0px !important;
}

.thumbnail-tiny {
    @extend .thumbnail;
    width: 80px;
    height: 80px;
}

.thumbnail-med {
    @extend .thumbnail;
    width: 100px;
    height: 100px;
}

.thumbnail-lg {
    @extend .thumbnail;
    @extend .nomargin;
    width: 100%;
    height: auto;
}
